@charset "ISO-8859-1";
    * {
      margin: 0;
      padding: 0;
      font-family: 'Roboto', sans-serif;
    }
    h1{
  font-size: 30px;
  color: black;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  margin-bottom: 15px;
}
    body {
      background-color: #e6e6e6;
    }
    .sidenav {
      height: 100%;
      width: 230px;
      position: fixed;
      z-index: 1;
      background-color: #4d4d4d;
      overflow-x: hidden;
    }
    .sidenav a {
      padding: 12px 15px;
      margin: 5px;
      text-decoration: none;
      font-size: 15px;
      font-weight: 400;
      color: #ffffff;
      display: block;
      border-radius: 4px;
    }
    .sidenav div {
      padding: 0px 0px 0px 20px;
      margin-bottom: 30px;
      text-decoration: none;
      font-size: 18px;
      font-weight: 500;
      color: #ffffff;
    }
    .active {
      background-color: #666666;
      color: #f1f1f1;
    }
    .sidenav a:hover {
      color: #f1f1f1;
      background-color: #666666;
    }
    .main {
      margin-left: 230px;
      padding: 10px;
    }
    
    table{
  width:100%;
  table-layout: fixed;
}
.tbl-header{
  background-color: rgba(255,255,255,0.3);
 }
.tbl-content{
  height:300px;
  overflow-x:auto;
  margin-top: 0px;
  border: 1px solid rgba(255,255,255,0.3);
}
th{
  padding: 20px 15px;
  text-align: left;
  font-weight: 500;
  font-size: 17px;
  color: black;
  text-transform: uppercase;
}
td{
  padding: 15px;
  text-align: left;
  vertical-align:middle;
  font-weight: 300;
  font-size: 15px;
  color: black;
  border-bottom: solid 1px rgba(255,255,255,0.1);
}

.button {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #04AA6D;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}