@charset "ISO-8859-1";

* {
	padding: 0px;
	margin: 0px;
}

nav {
	background: #ffe6cc;
	width: 100%;
	height: 90px;
}

ul {
	padding-top: 0px;
	padding-right: 70px;
	margin: 0 0 0 150px;
	list-style: none;
}

li {
	float: right;
}

.logo img {
	position: absolute;
	margin-top: 10px;
	margin-left: 80px;
	width: 70px;
	height: 77px;
}

nav a {
	width: 150px;
	display: block;
	padding: 12px 15px;
	text-decoration: none;
	font-family: montserrat;
	color: black;
	text-align: center;
}

nav a:hover {
	background: greenyellow;
	transition: 0.5s;
}